.ButtonQuality {
    min-width: 32px;
    height: 32px;
    background-color: var(--black-social);
    border-radius: 6px;
    padding: 0 5px;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-white);
    font-weight: 700;
    font-family: "Titillium Web", sans-serif;
}