.container__sidebar {
    width: 100%;
    max-width: 235px;
    height: 100%;
    background-color: var(--dark-20);
}
.container__logo {
    width: 100%;
    height: 114px;
    background-color: var(--dark-10);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__logo h1 {
    font-family: "Titillium Web", sans-serif;
    color: var(--color-white);
    font-size: 38px;
    font-weight: 600;
    line-height: 21px;
}
.container__menu {
    width: 100%;
    height: 100vh;
}
.container__login {
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divisor__side {
    width: 100%;
    height: 1px;
    background-color: white;
    opacity: 0.05;
    margin: 15px 0px 15px 0px;
}

/* styles menu */
.container__sidebar nav {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
}
.container__sidebar nav ul {
    display: flex;
    flex-direction: column;
}
.container__sidebar nav ul li {
    width: 100%;
    height: 49px;
    color: var(--color-gray);
    cursor: pointer;
    list-style:none;
    display: flex;
    align-items: center;
    padding-left: 44px;
}
.container__sidebar nav ul li:hover{
    color: var(--color-white);
    background-color: #201f1f;
}
.list_item_icon a {
    margin-left: 16px;
}

.container__sociais {
    width: 147px;
    height: 42px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-top: 143px;
}
.container__sociais .social{
    width: 38px;
    height: 38px;
    border-radius: 5px;
    background-color: var(--black-social);
    display: flex;
    align-items: center;
    justify-content: center;
}
.social:hover {
    opacity: 0.5;
    transition: 5ms;
}