/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/* font-family: "Titillium Web", sans-serif; */
/* font-family: "Rubik", sans-serif; */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a { 
    color: currentColor;
    text-decoration: none;
}
nav ul li {
    list-style:none;
    cursor: pointer;
} 
:root {
    --color-white: #ffffff;
    --color-red: #fa1027;
    --color-gray: #727272;
    --color-newgray: #9b9696;
    --color-dark: #161616;
    --dark-10: #131313;
    --dark-20: #191818;
    --black-social: #0d0d0d;
    --dark-30: #262424;
}
body {
    background-color: var(--color-dark);
    text-decoration: none;
}
*:focus{
    outline: none;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#root {
    display: flex;
}